*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  background-color: #01584f;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.logoAM{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.img-logo{
  height: 200px;
}